.card-avatar {
	background-color: rgba(227, 227, 227, 0.253);
}

.col-name {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
}

.name,
.card-progress {
	margin-top: 15px;
}

.progress-name {
	padding-bottom: 10px;
}

.bio,
.col-grp {
	margin-top: 5px;
}

.card-progress {
	max-width: 500px;
	max-height: 300px;
}

@media (max-width: 538px) {
	.card-progress {
		width: 100%;
		height: auto;
	}

	.avatar-profile svg {
		font-size: 6rem;
	}
}
