.body-wrapper {
	min-height: calc(100vh - 24px - 64px);
	margin: 24px 16px;
	padding: 24px;
}

@media (max-width: 538px) {
	.body-wrapper {
		/* width: 100%; */
	}

	.body-wrapper img {
		width: 100%;
		height: auto;
	}

	.body-wrapper span {
		font-size: 0.8rem;
		white-space: normal;
		word-wrap: break-word;
		word-break: break-word;
		overflow-wrap: break-word;
	}
}
p {
	padding-left: 10px;
}
.oth {
	font-size: 16px;
}

.info_element {
	margin: 40px 0px;
	padding: 24px 32px;
	border: 1px solid rgb(76, 175, 80);
	border-radius: 5px;
}

.border_element {
	margin: 40px 0px;
	padding: 20px 32px;
	border: 1px solid rgb(255, 165, 0);
	border-radius: 5px;
}
