.wrapper-form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 91vh;
	margin: 0;
}

.body-form {
	width: 500px;
	max-width: 650px;
	max-height: 650px;
	margin: 0 auto;
	padding: 30px;
	border: 3px solid rgba(0, 21, 41);
	border-radius: 1rem;
	box-shadow: 10px 5px 5px rgb(0, 21, 41, 0.3);
}

.wrapper-btn {
	display: flex;
	justify-content: space-between;
	border: 1px solid red;
}
.center {
	text-align: center;
}

.left {
	flex: 1;
	text-align: left;
}

.right {
	flex: 1;
	text-align: right;
}

.p-auth {
	text-align: center;
}

.btn-sub {
	width: 100%;
	height: 50px;
	margin-bottom: 0;
	background-color: rgb(0, 21, 41);
}

.btn-sub:hover {
	background-color: rgb(0, 21, 41, 0.7) !important;
}

.color-border:hover {
	border-color: rgb(0, 21, 41) !important;
}

.btn-link {
	text-decoration: none;
}
